@import 'tailwindcss';

@layer utilities {
}
.font-hahmlet {
  font-family: var(--font-hahmlet), sans-serif;
}

.font-loopet {
  font-family: var(--font-loopet), sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.glaze-bg {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

